.boat-details {
    background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)), url(/assets/map1.jpg) no-repeat center center;
    background-size: cover;
    padding: 8em 0;
    height: 91.3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.details-title {
    font-family: 'Handlee', cursive;
    font-size: 4em;
    color: white;
    padding-top: 0.5em;

}

.boat-info {
    display: flex;
    font-size: 3em;
    justify-content: space-evenly;
    gap: 1em;
    width: 65%;
    height: 30%;
    color: white;

}

.port,
.passengers,
.calendar,
.model {
    display: flex;
    flex-direction: column;
    gap: 0.5em;


}

.boat-info h5 {
    font-size: 0.5em;
    border-bottom: 0.2em solid lightblue;
    padding-bottom: 1em;
}

.boat-info .icon {
    color: white;
    font-size: 1em;
}

.boat-info span {
    color: black;
    font-weight: 700;
}

.picture-desc {
    display: flex;
    gap: 1em;

}

.picture-desc img {
    width: 40em;
    height: 25em;
    border-radius: 2em;
}

.trip-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    /* gap: 1em; */
}

.trip-desc h5 {
    font-size: 1.5em;
    /* margin-bottom: 1em; */
    color: black;
}

.trip-desc h5 span {
    color: white;
    font-weight: bold;
}


.trip-desc textarea {
    width: 20em;
    height: 9em;
    font-size: 1.5em;
    background-color: rgba(33, 31, 31, 0.5);
    font-family: 'Handlee', cursive;
    color: white;
    border-radius: 0.2em;
    border-color: none;
}

.buttons .delete {
    padding: 0.7em 0.9em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1em;
    cursor: pointer;
    background-color: red;
    margin-right: 1em;
    width: 6em;
}

.delete {
    transition: transform 0.3s;
}

.delete:hover {
    transform: scale(1.2);
}

.buttons .edit {
    padding: 0.7em 0.9em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1em;
    cursor: pointer;
    background-color: rgb(32, 129, 178);
    width: 6em;
}

.edit {
    transition: transform 0.3s;
}

.edit:hover {
    transform: scale(1.2);
}

.buttons .book {
    padding: 0.7em 0.9em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1em;
    cursor: pointer;
    background-color: rgb(32, 129, 178);
    width: 6em;
    margin-right: 1em;
}

.book {
    transition: transform 0.3s;
}

.book:hover {
    transform: scale(1.2);
}

.buttons .like {
    padding: 0.7em 0.9em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1em;
    cursor: pointer;
    background-color: rgb(32, 129, 178);
    width: 6em;
}

.like {
    transition: transform 0.3s;
}

.like:hover {
    transform: scale(1.2);
}

.like i {
    color: red;
}

.buttons span {
    padding: 0.7em 0.9em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1em;
    margin-right: 1em;
    cursor: pointer;
    background-color: green;
    width: 6em;

}

.total-likes {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 2.5em;
    color: black;
    border-bottom: 4px solid lightblue;
    height: 2em;
}

.total-likes i {
    color: red;
}

textarea {
    resize: none;
}