
.site-home{
    background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)),
    url(/assets/background.jpg) no-repeat center center;
    background-size: cover;
    padding: 2rem 0;
    height: 100vh;
}
section{
    display: block;
   
}

.header-title {
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 6em 0;
    margin-top: 6em;
}
.header-title h1 {
    font-size: 4em;
    padding-bottom: 0.5em;
    font-family: 'Handlee', cursive;
    
}

.header-title p {
    font-size: 1.25em;
}

.header-title button {
    padding: 0.7em 0.9em;
    /* color: rgb(104, 102, 102); */
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 0.3rem;
    background: rgb(231, 238, 240);
    margin-top: 2em;
    /* border: 2px solid rgb(104, 102, 102); */
    cursor: pointer;
    background-color: rgb(32, 129, 178);
    
}

button{
    transition: transform 0.3s;
}
.button:hover{
    transform: scale(1.2);
}