.profile-container {
    /* background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)),
    url(/assets/background.jpg) no-repeat center center;
    background-size: cover;
    padding: 4.37em 0; */
    /* height: 100vh; */
}

.profile-data {
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.profile-data span {
    color: black;
}

.profile-data img {
    font-size: 1em;
}

.user-data {
    display: flex;
    gap: 1em;
    font-size: 1.5em;
    border-bottom: 0.1em solid lightblue;
}

.catalog-page {
    display: flex;
    flex-direction: column;
}

.title-catalog {
    font-family: 'Handlee', cursive;
    font-size: 2em;
    color: white;
    text-align: center;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.offersList-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 2em;
}

.card-container {
    height: 30em;
    width: 22em;
    background-color: transparent;
    border-radius: 1em;
    box-shadow: 0 0 1em;
    float: left;
    border: none;
    background: rgb(125, 154, 177);
    background: radial-gradient(circle, rgba(125, 154, 177, 1) 31%, rgba(2, 0, 36, 1) 100%, rgba(125, 154, 177, 1) 100%);
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    height: 100%;
    border-radius: 0.5em;
    align-items: center;
    gap: 1em;
}

.card-img-top {
    height: 18em;
    width: 100%;
    border-radius: 0.5em;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    font-size: large;
}

.card-footer {
    border-radius: 0.5em;
    padding: 0.7em 1em;
    width: 10em;
    text-align: center;
    background-color: rgb(32, 129, 178);
}

.btn-primary {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.no-boats {
    font-family: 'Handlee', cursive;
    font-size: 2em;
    color: white;
    text-align: center;
    height: 50vh;
    padding-top: 5em;
}

.no-boats i{
    font-size: 2em;
    color:black;
}