.card-container {
    height: 30em;
    width: 22em;
    background: radial-gradient(circle, rgba(125, 154, 177, 1) 31%, rgba(2, 0, 36, 1) 100%, rgba(125, 154, 177, 1) 100%);
    border-radius: 1em;
    box-shadow: 0 0 2em;
    float:left;
    border: none;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    height: 100%;
    border-radius: 0.5em;
    align-items: center;
    gap: 1em;
}

.card-img-top {
    height: 18em;
    width: 100%;
    border-radius: 0.5em;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    font-size: large;  
}

.card-footer {
    border-radius: 0.5em;
    padding: 0.7em 1em;
    width: 10em;
    text-align: center;
    background-color: rgb(32, 129, 178);
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-primary {
    color: white;
    font-weight: bold;
}

.card-footer:hover{
    transform: scale(1.2);
}