h3 {
  font-size: 2.5em;
  color: white;
  font-family: 'Handlee', cursive;
}

.team-description-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 2.5rem 0;
  text-align: center;
  color: rgb(104, 102, 102);
  height: 40em;
}

.team-description p {
  padding-bottom: 2.5rem;
  font-size: 1.3em;
}

.team-description {
  background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)),
    url(/assets/background1.jpg) no-repeat center center;
  background-size: cover;
}

.team-description ul {
  display: flex;
  justify-content: space-between;
}

.team-description ul li img {
  width: 15em;
  height: 15em;
  padding-bottom: 0.3rem;
  border-radius: 1em;
}

.team-description ul li>p:nth-child(2) {
  padding: 0;
}