h3 {
    font-size: 1.5em;
    color: white;
    margin-top: 2em;
  }
  
  .about-us {
    /* width: 80%; */
    margin: 0 auto;
    padding: 2.5rem 0;
    text-align: center;
    color:white;
    background: url('/assets/map.jpg') no-repeat center center;
    /* background-size: cover; */
    height: 25em;
  }
  
  .about-us p:nth-child(2) {
    font-style: italic;
    padding-bottom: 2.5rem;
    color: white;
  }
  
  .about-us p:nth-child(3){
    width: 60%;
    margin: 0 auto;
    color:white;
  }