.lds-dual-ring {
    display: inline-block;
    width: 5em;
    height: 5em;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 4em;
    height: 4em;
    margin: 0.5em;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader{
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}